<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ToDo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Pricing</a>
        </li>

      </ul>
    </div>
    <div class="btnGrp">
      <button class="btn btn-outline-success" type="submit">Login</button>
      <br>
      <button class="btn btn-outline-danger " type="submit">Signup</button>
    </div>

  </div>
</nav>
