<app-modal [taskTitle]="editTaskData.taskTitle" [taskDesc]="editTaskData.taskDesc" [taskId]="editTaskData.id" (updateTaskEvent)="getUpdatedData($event)"></app-modal>

<div>
  @for(task of data;track task.id){

    <div class="card mt-2">
      <div class="card-header">

        {{task.id}}
      </div>
      <div class="d-flex">
      <div class="card-body">
        <h5 class="card-title">  {{task.title}}</h5>
        <p class="card-text">{{task.desc}}</p>

      </div>
      <div style="width: 6%;margin-top: 2%;">
        <div  style="padding-top: 1%; display: inline-block;"><input type="checkbox"></div>
        <img class="p-2" src="../../../assets/editicon.svg" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="editTask(task)"/>
        <img  src="../../../assets/deleteicon.svg" (click)="deleteTask(task)"/>




      </div>
    </div>
    </div>

  }
</div>
